<!doctype html>
<html>
<head>
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/starter-template.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/g-habilitate.css"/>
  <script type="text/javascript" src="/javascripts/jquery/1.11.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="./../d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="./../nv.d3.js"</script>
  <script type="text/javascript" src="/javascripts/lineChart.js"></script>-->

  <script type="text/javascript" src="javascripts/g-habilitate.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/testdata.js"></script>

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header logo">
          <img src="/images/g-habilitate-logo.png">
        </div>
      </div>
    </div>

    <div class="container center">

          <div id="canvasContainer"></div>
          <input id="moveSensitivitySlider" type="range" name="points" min="1" max="20" value="5">
          <button id="resetGameButton" class="btn btn-success">RESET</button>

    </div><!-- /.container -->

<script>
      $( document ).ready(function() {

        var ghabilitate = new gHabilitate('canvasContainer', 5, 5, 800, 600);
        ghabilitate.init();

        $("#moveSensitivitySlider").on("input", function(){
          ghabilitate.setMoveSensitivity(this.value);
        });

        $("#resetGameButton").on('click', function() {
          $("#canvasContainer").empty();
          ghabilitate.init();
        });

        var socket = io.connect();
        socket.on('data', function (data) {
          ghabilitate.moveBall(data);
        });

      });
</script>

</body>
</html>
