<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" /> <!-- reset css -->

<!-- LINK TO LOCAL PROJECT? -->
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/g-habilitate.css">
<script type="text/javascript" src="javascripts/g-habilitate.js"></script>
<script src="/socket.io/socket.io.js"></script>



<script>
  $( document ).ready(function() {
    console.log( "Document ready!" );
    var ghabilitate = new gHabilitate('canvas', 1);
    ghabilitate.init();

    // $(function(){
    var socket = io.connect();
    socket.on('data', function (data) {
      console.log(data);
      var obj = JSON.parse(data);
      ghabilitate.moveBall(obj);
    });
  });

</script>

</head>

<body>
  <div class="container">
    <p></p>
    <p></p>
    <canvas id="canvas"></canvas>
  </div>
</body>
</html>