/*#canvas {
  border:1px solid red;
  width: 800px;
  height: 600px;*/
  /*background-color: blue;*/
/*}*/

.logo img {
  height: 50px;
}

.logo {
  width: 100%;
  text-align: center;
}
.center {
  text-align: center;
}
body {
  background-color: black;
}