body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  background-color: #22313F;
}

.container {
  width: 960px;
  text-align: center;
  margin-left: auto;
}

h1 {

}

a {
  color: #00B7FF;
}

